{{!-- User dropdown --}}
{{!-- <div id="user-dropdown relative">

    <button id="user-button"
        class="flex items-center gap-x-2 px-3 py-2 border-white border rounded-md hover:bg-accentColor bg-secondaryColor">
        --}}
        {{!-- User icon --}}
        {{!-- <div class="text-white">
            <i class="fa-solid fa-user"></i>
        </div>
        User name --}}
        {{!-- <div class="text-white">User</div>
    </button> --}}


    {{!-- Dropdown menu --}}
    {{!-- <div id="dropdown-menu" class="hidden w-48 bg-secondaryColor rounded-md py-4 absolute right-4 mt-2">
        <div class="flex flex-col mb-3 gap-y-1 px-4">
            <span class="text-white">Amal</span>
            <span class="text-white">Amal@gmail.com</span>
        </div>
        <ul>
            <li><a href="" class="text-white block hover:bg-accentColor py-1 px-4">Log out</a></li>
        </ul>
    </div>
</div> --}}

<div class="flex justify-center items-center pt-32">
    <div class="flex flex-col items-center max-w-sm w-full p-8 gap-y-3 rounded-lg shadow-xl">
        <div class="flex flex-col gap-y-1 items-center">
            <h2>Amal</h2>
            <span>Amal@gmail.com</span>
        </div>
        <button class="bg-primaryColor text-white hover:bg-secondaryColor px-3 py-2 rounded-md w-24">Log out</button>
    </div>
</div>