<section>
    <form action="" id="checkout-form">
        <div class="main px-6 flex flex-col md:flex-row lg:px-14 py-8 antialiased md:py-12 gap-4 justify-center">

            <div class="first md:w-6/12 lg:w-6/12">
                <h2 class="text-xl font-semibold text-gray-900 sm:text-2xl mb-6">Delivery Details</h2>

                <div class="mb-6">
                    <label for="large-input" class="block mb-2 text-sm font-medium text-gray-900">Address</label>
                    <input type="text" id="large-input" name="address"
                        class="block w-full p-4 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-base focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div class="mb-6">
                    <label for="default-input" class="block mb-2 text-sm font-medium text-gray-900">Pincode</label>
                    <input type="text" id="default-input" name="pincode"
                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <div>
                    <label for="small-input" class="block mb-2 text-sm font-medium text-gray-900">Mobile</label>
                    <input type="text" id="small-input" name="mobile"
                        class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 text-xs focus:ring-blue-500 focus:border-blue-500 dark:border-gray-600 dark:placeholder-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                </div>
                <input type="text" name="userId" id="" value="{{user._id}}" class="hidden">
            </div>

            <div class="second md:w-4/12">
                <div class="mx-auto mt-6 md:mt-20 max-w-8xl flex-1 space-y-6">
                    <div
                        class="mx-auto space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6 md:max-w-4xl">
                        <p class="text-xl font-semibold text-gray-900 dark:text-white">Total Amount: {{total}} Rs.</p>

                        <ul
                            class="w-48 text-sm font-medium text-gray-900 bg-white rounded-lg dark:bg-gray-800 dark:border-gray-600 dark:text-white">
                            <li class="w-full rounded-t-lg dark:border-gray-600">
                                <div class="flex items-center ps-3">
                                    <input id="list-radio-license" type="radio" value="COD" name="payment-method"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="list-radio-license"
                                        class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">COD
                                    </label>
                                </div>
                            </li>
                            <li class="w-full rounded-t-lg dark:border-gray-600">
                                <div class="flex items-center ps-3">
                                    <input id="list-radio-id" type="radio" value="ONLINE" name="payment-method"
                                        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500">
                                    <label for="list-radio-id"
                                        class="w-full py-3 ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Online
                                        Payment</label>
                                </div>
                            </li>
                        </ul>

                        <button type="submit"
                            class="flex w-full items-center justify-center rounded-lg bg-blue-600 px-5 py-2.5 text-sm font-medium text-white hover:bg-blue-800">Proceed
                            to Checkout</button>


                    </div>
                </div>
            </div>



        </div>
    </form>
</section>