@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite";

* {
  font-family: "Poppins";
}
.hide {
  display: none !important;
}
html {
  scroll-behavior: smooth;
}
.hero-section {
  height: 90vh;
}
.bg-image {
  height: 100%;
}
